[
{
   "name": "Perseids 2020",
   "start": "2020_08_05_00_00_00",
   "end": "2020_08_14_00_00_00",
   "video_providers" : [
      {
         "ams_id": "AMS1",
         "bid": [0,1,2],
         "operator": "Mike Hankey",
         "location": "Monkton, MD USA"
      },
      {
         "ams_id": "AMS7",
         "bid": [3,4,5],
         "operator": "Elizabeth Warner, University of MD",
         "location": "College Park, MD USA"
      },
      {
         "ams_id": "AMS15",
         "bid": [6,7,8],
         "operator": "Peter Deterline",
         "location": "Douglassville, PA USA"
      },
      {
         "ams_id": "AMS9",
         "bid": [5,6,7,8,9],
         "operator": "Ed Abel",
         "location": "Mathias, WV USA"
      },
      {
         "ams_id": "AMS41",
         "bid": [4],
         "operator": "Cedar Amateur Astronomers",
         "location": "Cedar Rapids, IA USA"
      },
      {
         "ams_id": "AMS48",
         "bid": [6,7,8],
         "operator": "James Hannon",
         "location": "Otter Creek TWP, IA USA"
      },
      {
         "ams_id": "AMS8",
         "bid": [9,0],
         "operator": "Kevin Palivec",
         "location": "Hawley TX, USA"
      },
      {
         "ams_id": "AMS2",
         "bid": [7],
         "operator": "Robert Ward",
         "location": "Prescott, AZ USA"
      },
      {
         "bid": [8],
         "ams_id": "AMS24",
         "operator": "Robert Lunsford, University of Arizona",
         "location": "El Cajo, CA USA"
      }

   ],

   "backups" : [
      {
         "bid": 9,
         "ams_id": "AMS14",
         "operator": "Mel Helm",
         "location": "Auberry, CA USA"
      }
   ]


}
]
