ul { list-style-type: none; }

#container {
 width: 1200px;
 margin: 0 auto;
}
 
#myContent {
 -moz-column-count: 6;
 -moz-column-gap: 0px;
 -webkit-column-count: 6;
 -webkit-column-gap: 0px;
 column-count: 6;
 column-gap: 0px;
 width: 1200px;
}
 
#myContent img{
 display: inline-block;
 margin-bottom: 0px;
 width: 100%;
}

@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
 #myContent {
 -moz-column-count: 5;
 -moz-column-gap: 0px;
 -webkit-column-count: 5;
 -webkit-column-gap: 0px;
 column-count: 5;
 column-gap: 0px;
 width: 1000px;
 }
 
 #container {
 width: 1000px;
 }
}
 
 
@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
 #myContent {
 -moz-column-count: 4;
 -moz-column-gap: 0px;
 -webkit-column-count: 4;
 -webkit-column-gap: 0px;
 column-count: 4;
 column-gap: 0px;
 width: 800px;
 }
 
 #container {
 width: 800px;
 }
}
 
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
 #myContent {
 -moz-column-count: 3;
 -moz-column-gap: 0px;
 -webkit-column-count: 3;
 -webkit-column-gap: 0px;
 column-count: 34;
 column-gap: 0px;
 width: 600px;
 }
 
 #container {
 width: 600px;
 }
}
 
@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
 #myContent {
 -moz-column-count: 2;
 -moz-column-gap: 0px;
 -webkit-column-count: 2;
 -webkit-column-gap: 0px;
 column-count: 2;
 column-gap: 0px;
 width: 400px;
 }
 
 #container {
 width: 400px;
 }
}
