
// Below Canvas


    .btn { 
        cursor:pointer;

        i {
            font-size: 1.3rem;
            vertical-align: text-top;
            padding-right: .2rem;
        }

        &.btn-sm {
            i {
                font-size:1rem;
            }
        }

        &.btn-primary {
            color: #fff;
            background-color: #0c3867;
            border-color: #3d5088;

            &:hover {
                background-color:#125092;
            }
        }
    }
 


.box .btn-holder .btn {
    margin: 0 15px 0.6rem;
}

.btn {
    cursor: pointer;
}

.btn-sm, .btn-group-sm>.btn {
    font-size: .675rem;
}

.btn-secondary  {
    background-color: transparent;
    font-size: .8rem;

    [class^="icon-"], [class*=" icon-"] {
        font-size: 1rem !important;
    }

    &:focus {
        background-color:#0f1621;
    }

    &:hover {
        background-color:#293952;
    }

}