dl.ref {
   font-size: .85rem;

   &.br-t {
      border-top: 1px solid rgba(255,255,255,0.38);
      padding-top: 1.2rem;
      margin: 1.2rem 0rem 1rem;
      font-size: .85rem;
  
   }

   dd {
      margin-bottom: 0;
   }

}