html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 80px; /* Margin bottom by footer height */
  }
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #717171;
  }