.custom-select {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23fff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    color: #fff;
    border-color: #3d5088;
    background-color: #2b5179;
    cursor: pointer;
}


input[type="range"]{
    -webkit-appearance: none;
    width: 160px;
    height: 20px;
    background: -webkit-gradient(linear, left top, right top, from(#2b5179), to(#4480bf));
    background: linear-gradient(to right, #2b5179 0%, #4480bf 100%);
    background-size: 150px 15px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none; 
    cursor: move;  
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  
  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:#0c3867;
    position:relative;
    z-index:3;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
    border-radius:50%;
  }
  
  input[type="range"]::-webkit-slider-thumb:after{
    content:" ";
    width:160px;
    height:20px;
    position:absolute;
    z-index:1;
    right:20px;
    top:5px;
    background: #0c3867;
    background: linear-gradient(to right, #0c3867 1%, #0f4a88 70%);
  }



  // For list view
  .filter-header {
    width: 100%;
    background: #081938;
    padding: .8rem 1rem;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.8);
    box-shadow: 0 1px 2px rgba(0,0,0,0.8);
    margin-bottom: 1rem;
}


// Big checkbox
.custom-control.big {
  .custom-control-label::before, .custom-control-label::after {
    width: 1.5rem;
    height: 1.5rem;
  }
}


.form-control-plaintext { 
  color:#fff;
}


// Select in header
h1 select {
  background: none;
  border: none;
  color: #fff;

  option {
    background:  #061329;
    color: #fff;
    padding:.5rem;
  }

  &:focus {
    outline:0;

    option{
      outline:0;
    }
  }
}



// Multiselect 
.multiselect.dropdown-toggle.btn.btn-default {
    background:#fff;
}
.multiselect-container>li>a>label {
     padding: .5rem 1rem 0 .5rem;
}
.multiselect-container>li>a>label.checkbox, .multiselect-container>li>a>label.radio { 
  white-space: nowrap;
}