.custom-select {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23fff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    color: #fff;
    border-color: #3d5088;
    background-color: #2b5179;
    cursor: pointer;
}


input[type="range"]{
    -webkit-appearance:none;
    width:160px;
    height:20px; 
    background: linear-gradient(to right, #2b5179 0%, #4480bf 100%);
    background-size:150px 10px;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden; 
    outline: none;
  }
  
  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:#0c3867;
    position:relative;
    z-index:3;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
  }
  
  input[type="range"]::-webkit-slider-thumb:after{
    content:" ";
    width:160px;
    height:10px;
    position:absolute;
    z-index:1;
    right:20px;
    top:5px;
    background: #0c3867;
    background: linear-gradient(to right, #0c3867 1%, #0c3867 70%);
  }