.gallery {
   // Checkboxes
   .custom-control-input[type=checkbox] {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1.8rem;
      bottom: 0;
      z-index: 999;
      width: 1.5rem;
   }

    &.gal-resize {
          margin: 0 auto;
         width:100%; 
         display: flex;
         flex-wrap: nowrap;
         justify-content: space-evenly;
         align-items: flex-start;
         flex-direction: row;
 
        .h2_holder  {
            display: block!important;
            width: 100%;
        }

        .list-onl {
            display: none;
        }

        .preview {

            flex-grow: 1;
            margin: .5rem;
  
            .btn-toolbar { 
                opacity: 0;
                padding:0 1rem .4rem 1rem;
            }
            

            &:hover {
               .btn-toolbar {
                   opacity:1;
               }
            }

            
            img, .btn-toolbar, span  {
                display: block;
                -webkit-transition: all .3s ease;  
                transition: all .3s ease;
            }

            a.mtt {
                display: block;
                position: relative;
                height: auto;
                width: 100%;
                overflow:hidden;
                padding:56.25% 0 0 0;

                .show_on_hover {
                   display: none;
                }

                span {
                    position: absolute;
                    bottom:-3rem;
                    left:0;
                    right:0;
                    background:rgba(0,0,0,.3);
                    color:rgba(255,255,255,.85) !important;
                    padding: .2rem 0 .3rem;
                    font-size: .85rem;
                    text-align: center;
                } 


                span.vis {
                  position: relative;
                  bottom: 0;
                  background: transparent;
                  text-align: left;
                  text-decoration: none!important;
                }

                &:before {
                    position: absolute;
                    top: 1.2rem;
                    right: -2.5rem;
                    z-index: 9;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    font-weight: bold;
                    width: 150px;
                    text-align: center;
                    display: none;
                }
                

                &.has_soh:hover {
                  img {
                     z-index: 0;
                  }
                }

                &:hover {
                    text-decoration: none;
                    background: #000;

                    span {
                        bottom:0;
                    }

                    .show_on_hover {
                        display: block;
                        max-width: 100%;
                        max-height: 100%;
                        position: absolute;
                        top: 1px;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: calc(100% - 2px);
                        transform: scaleX(1.45);
                        z-index:1;
                     }

                    &:before {
                        display: block;
                    }
                }
     
                 img {
                     border: 1px solid rgba(255,255,255,0.85);
                     display: block;
                     max-width: 100%;
                     max-height: 100%;
                     position: absolute;
                     top: 0;
                     bottom: 0;
                     left: 0;
                     right: 0; 
                     width: 100%;

                    &:hover {
                        border-color: #000;
                    }
                 }
             }

  
            .btn-group {
                margin: .2rem auto;
                width: 100%;
    
                .btn-secondary {
                    background:#061329;
                }
            }

            &:hover {
                a.mtt:before {
                    display: block;
                }
            }


            
            &.reduced {

                a.mtt:before {
                    content: 'Reduced';
                    color: #f90;
                    background: #ff99003d;
                }
    
                img {
                    border-color: #f90!important;
                }
               
            }
            &.meteor {
                a.mtt:before {
                    content: 'Meteor';
                    color: #21c419;
                    background:#00ff2d3d;
                }
                img {
                    border-color: #21c419!important;
                }
               
            }
            &.fail {
                a.mtt:before {
                    content: 'Fail';
                    color: #c00;
                    background: #ff00003d;
                }
                img {
                    border-color: #c00!important;
                }
            }
    
            &.del {
                a.mtt:before {
                    content: 'Deleted';
                    color: #fff;
                    background: #000;
                    display: block;
                }
                img {
                    border-color: #000!important;
                }
     
            }

            
        } 


        &.reg {
            justify-content: flex-start;  
            flex-wrap: wrap;
           .preview {
               flex: 1 0 16.666666%;  
               max-width: 360px;
           }
        }
        
     

    }

}
 


.pre-b {
   font-size: .9rem;   
   margin-bottom: 1.5rem;
   margin-top: .3rem;

   span {
      display:block;

      &.mst {
         font-size: 1.1rem;
      }
   }

   // For Multi
   .badge  {
      position: absolute;
      right: 0.2rem;
      top: 2.5rem;
      font-size: 1rem;
      color: #061329;
      background-color: #4491e3;
   }
}


// Smaller gallery
 a.mttt {
    display: block; 
 }

 span.det {
    font-size: .9rem;
    text-align: center; 
 }


 .gallery-only {
   display:  block;
}


.gallery {
   .pr {
      position:relative;
   }
}


 .gallery.list {
     
        max-width: 850px; 
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.8);
        box-shadow: 0 1px 2px rgba(0,0,0,0.8);
        background: rgba(0,0,0,.2);

        .gallery.list {
         -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0);
        box-shadow: 0 1px 2px rgba(0,0,0,0);
        background: rgba(0,0,0,0);
        }

        .pr {
           position:static;
        }

        .badge {
            bottom: 2rem;
            position: absolute;
            right: 1.5rem;
            color: #061329;
            background-color: #4491e3;
         }
      
        .h2_holder  {
         display: block!important;
         width: 100%;
         margin: 0 1rem;
        }

        .gallery-only {
         display:  none;
      }
        

        .list-onl {
            display: block;
            // For Flex
            width: 100%; 


            &.sel-box {
               width: auto;
               position: absolute;
               right: 1rem;
               top: .7rem;
            }

            &.title-list {
               font-size: 1rem;
               color: #fff;
            }
        }

        .preview {
            -webkit-box-flex: 0;
            //max-width: 750px;
            border-bottom: 1px solid rgba(255,255,255,0.1);
       
            margin-bottom: 1rem;
            position: relative;
            max-height: calc(230px + 2.7rem);
            width: 95%;
            flex: 0 0 95%;
            margin: 0 auto 1rem;
            padding: 1rem;

            margin: 0;
            max-width: 850px;
            width: 835px; 
            &.selected {
                background: rgba(255,255,255,.1);
            }

            .list-onl { 

                span {
                    font-weight: bold; 
                    padding-left: 1rem;
                    float: left;
                }
            }

            .btn-toolbar {
                position: absolute;
                float: none;
                bottom: 1rem; 
                font-size: 1.2rem;
                opacity: 1 !important; 
                bottom: 1.6rem;

                /*
                .btn.btn-sm i {
                    font-size: 1.2rem;
                    padding: .6rem;
                    line-height: 1.5rem;
                }
                */
            }

            a.mtt {
                height: calc(230px + 1rem);
                padding: 0;
                width: 400px;
                float: left;

                img {
                    position: relative;
                    max-height: calc(230px + 1rem);
                    width: 400px;
                    height: 230px;
                    float: left;
                    padding: 0;
                    top: inherit;
                    left: inherit;
                    right: inherit;
                    bottom: inherit;
                }

                span {
                    display: none;
                }

             
            }
        }
}





// Image selectable
.selectab {
   border:4px solid rgba(0,0,0,0);
   margin: 0 auto .5rem;
   cursor: pointer;

   &:hover {
      border-color:#ffdd1e;
   }
}
 
