img  {
    -webkit-box-shadow: 0 2px 5px #000;
    box-shadow: 0 2px 5px #000;

    &:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    &.ns {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}

// Media Link
// Popup links
.img-link, .vid-link {
    display: block;
    background-size: cover!important;
    display: block; 
    padding-bottom: 56.5%;
    position: relative;

  
    img {
        opacity: .65;
        width: 85%;
        position: absolute;
        top: 5%;
        left: 5%;
        margin: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    &.nop img {
        opacity:1;
    }

    &.fl {
        padding:0;

        img {
            position:relative;
        }
    }


    &:hover  {
            opacity: 1;
            img {
                opacity: 1;
            }
    }


}


// LAZY LOAD
img.lz {
    background-color: #132531;
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}