#logo_preview {

    .logo_selector {
        list-style-type: none;
        padding: 0;

        li {
            display:inline-block;
            max-width: 33.2%;
            a {
                display: block;
                padding: .5rem;
                margin: .5em;
                border: 2px solid rgba(255,255,255,.3);
                cursor: pointer;

                &.selected {
                    border-color: #1564b9;
                }
            }        
            
        }
    }

}