$meteor_selector_w: 500px;


#meteor_chooser_holder {
    width: $meteor_selector_w;
}

.meteor_chooser {
    width: $meteor_selector_w;  
    height:$meteor_selector_w;
    background-size: contain;
    cursor: crosshair;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background-color:#111;
    background-repeat: no-repeat;
}

#lh, #org_lh {
    position: absolute;
    left: 0;
    top:50%;
    width:$meteor_selector_w;
    height: 1px;
    background:rgba(255,255,255,.3);
    box-shadow: 0 0 1px rgba(0,0,0,1);
}



#lv,  #org_lv {
    position: absolute;
    top: 0;
    left:50%;
    width: 1px;
    height: $meteor_selector_w;
    background:rgba(255,255,255,.3);
    box-shadow: 0 0 1px rgba(0,0,0,1);
}

#org_lh, #org_lv {
    background:rgba(255,255,255,.1);
}

 .done #lh,  .done #lv { 
    background:rgba(255,0,0,.5);
}


.prev-th {
    margin: 0 .2rem .2rem 0;
    border-width:1px;
    width: 66px;
    border-style: solid;
    cursor:pointer;

    &:hover {
        img {
            border-color:rgba(255,255,255,.3)!important;
        }
    }

    &.cur {
        zoom: 1.2;
        margin-top: -.5rem;
        margin-bottom: .8rem;
    }
}


.cross_holder {
    position: absolute;
    z-index: 3;

    .cross { 
        width: 50px;
        height: 50px;
        border-radius: 50%;
        opacity: .5;
    }
}



// Frame numbers on selector
.select_frame_btn {

    position: relative;
    display: block;

    span {
        position: absolute;
        bottom: 4px;
        right: 5px;
        padding: 0 .2rem;
        color: rgba(255,255,255,.6);
        background: rgba(0,0,0,0.5);
        font-size: .7rem;
    } 
}

.ccur {
    img span {
        bottom:14px;
    }
}
