body {
    background: #061329;
    color: #fff;
    min-width: 1400px;
}

.container-fluid {
    max-width: 1400px;

    &.lg-l {
        max-width: 100%;
    }
}

// Typo
h1 {
    background: #081938;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: 'Montserrat','Helvetica Neue',Arial,Sans-serif;
    padding: .8rem 1rem;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.8);
    box-shadow: 0 1px 2px rgba(0,0,0,0.8);
    text-transform: uppercase;
    color: #c1c1c1;

    .h {
        color: #fff;
    }
}

.h1_holder {
    background: #081938;
    padding: .8rem 1rem;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.8);
    box-shadow: 0 1px 2px rgba(0,0,0,0.8);
    text-transform: uppercase;
    color: #c1c1c1;
 
    h1 {
        -webkit-box-shadow: none;
        box-shadow: none;
        text-transform: uppercase;
        color: #c1c1c1;
        padding: 0;
        margin: 0;
        line-height: 2.4rem;
    }

    .btn-group {
        max-height: 2.5rem;
      
        label {
            line-height: 1.8;
        }
    }
}

h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
    border-bottom: 1px solid rgba(255,255,255,.38);
    margin-bottom: .5rem;

    .btn {
        font-weight: bold;
        padding: .2rem 1rem;
        font-size: 1.1rem;
        vertical-align: initial;
    }
}

.h2_holder {
    padding-bottom: .4rem;
    border-bottom: 1px solid rgba(255,255,255,.38);
    margin-bottom: 1rem;

    h2 {
        border: none;
        margin: 0;
        padding: 0;
        text-transform: none;
    }

    p {
        margin:0
    }
}


// Canvas
.flex-fixed-canvas {
    flex: 0 0 960px;
}

.flex-fixed-r-canvas {
    flex: 0 0 calc(1360px - 960px);
    margin-left:1rem;
    position: relative;
}

.flex-fixed-s-canvas {
    flex: 0 0 573px;
}

.flex-fixed-r-s-canvas {
    flex: 0 0 calc(1100px - 573px);
    margin-left:1rem;
    position: relative;
}


// Blinkin button 
.blinked {
    background-color:#c00 !important;
    -webkit-transition: background 1.0s ease-in-out !important;
    -ms-transition:     background 1.0s ease-in-out !important;
    transition:         background 1.0s ease-in-out !important;
}


.clickable {
    cursor:pointer;
}

// Loading message 
.load_msg {
    display: none;
}


// Title toggle
.dt-title {
    color: #fff;

    &:hover {
        text-decoration: none;
    }

    &:after {
        float: right;
        margin-top: .6rem;
    }
}

// HR
hr.w {
    border-top-color: rgba(255,255,255,.3);
}
