<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="public, max-age=500, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Report for event {STATION_ID} Cam#{CAM_ID</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/APPS/dist/css/allskytv.min.css?c={RAND}"/>
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-column flex-md-row"> 
            <a class="navbar-brand clearfix" title="ALLSkyTV">  
                <img id="logo_holder" src="/APPS/dist/img/allskytv.svg" width="200" height="70" alt="ALLSkyTV"/> 
            </a> 
            <ul class="navbar-nav ml-md-auto"></ul>
            <a id="login" class="btn btn-primary d-inline-block mb-3 mb-md-0 ml-md-3">Login</a>
      </nav>
      <h1>Report for event {STATION_ID} Cam#{CAM_ID} - <a href="{LINK_TO_DAILY_REPORT}">{DAY}</a></h1>
      <div id="main_container" class="container-fluid h-100 mt-4 lg-l">
         <div class="h-100 flex-fixed-canvas">
            <div class="canvas-container">
               <div class="embed-responsive embed-responsive-16by9">
                  <video controls loop autoplay name="media"><source type="video/mp4">
                     <source src='{HD_VIDEO_PATH}' type='video/mp4'>
                  </video>
               </div>
            </div>
         </div>
      </div>
</body>    
</html> 
