<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="public, max-age=500, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Report for event {STATION_ID} Cam#{CAM_ID</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/APPS/dist/css/allskytv.min.css?c={RAND}"/>
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-column flex-md-row"> 
            <a class="navbar-brand clearfix" title="ALLSkyTV">  
                <img id="logo_holder" src="/APPS/dist/img/allskytv.svg" width="200" height="70" alt="ALLSkyTV"/> 
            </a> 
            <ul class="navbar-nav ml-md-auto"></ul>
            <a id="login" class="btn btn-primary d-inline-block mb-3 mb-md-0 ml-md-3">Login</a>
      </nav>
      <h1>Report for event {STATION_ID} Cam#{CAM_ID} - <a href="{LINK_TO_DAILY_REPORT}">{DAY}</a> {TIME}</h1>
      <div id="main_container" class="container-fluid d-flex h-100 mt-4 position-relative">
        

         <div class="h-100 flex-fixed-canvas">
            <div class="canvas-container">
               <div style="display: none" class="embed-responsive embed-responsive-16by9">
                  {VIDEO}
               </div>
               <canvas id="canvas" style="width:960px;height:540px"></canvas>
            </div>
         </div>
      

         <div class="flex-fixed-r-canvas h-100">
            <div class="mt-2 mb-3 mr-3 ml-3"><div class="btn-holder row mt-1 mb-1">
               <a id="show_json" class="col btn btn-secondary mt-0 mb-0 ml-1 json_viewer" data_src="{JSON_FILE}"><i class="icon-file-text"></i> All Data</a>
            </div></div>
         </div> 
      
      </div>


      <script src="/APPS/dist/js/allskytv.min.js?c={RAND}"></script>  
      <script src="/APPS/src/js/plugins/json-viewer.js?c={RAND}"></script>
      <script src="/APPS/src/js/ui/loader.js?c={RAND}"></script>
      <script src="/APPS/src/js/ui/json_viewer.js?c={RAND}"></script>
      

      <script>
         // TEST PLAY ON CANVAS
         var canvas = document.getElementById('canvas');
         var ctx = canvas.getContext('2d');
         var video = document.getElementById('main_video_player');

         video.addEventListener('play', function() {
            var $this = this; //cache
            (function loop() {
               if (!$this.paused && !$this.ended) {
               ctx.drawImage($this, 0, 0,960,540);
               setTimeout(loop, 1000 / 30); // drawing at 30fps
               }
            })();
         }, 0);


         video.play();

         
      </script>
</body>    
</html> 
