<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="public, max-age=500, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>ALL STATIONS LIVE - {DAY} </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/APPS/dist/css/allskytv.min.css?c={RAND}"/>
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-column flex-md-row"> 
            <a class="navbar-brand clearfix" title="ALLSkyTV">  
                <img id="logo_holder" src="/APPS/dist/img/allskytv.svg" width="200" height="70" alt="ALLSkyTV"/> 
            </a> 
            <ul class="navbar-nav ml-md-auto"></ul>
            <a id="login" class="btn btn-primary d-inline-block mb-3 mb-md-0 ml-md-3">Login</a>
      </nav>
      <h1>AllSky.tv All Station Latest Views</h1>
      <div id="main_container" class="container-fluid h-100 mt-4 lg-l">
         {LIVE}
      </div> 
      
 
      <script src="/APPS/dist/js/allskytv.min.js?c={RAND}"></script> 
      <script src="/APPS/src/js/API/ui.js?c={RAND}"></script>
      <script src="/APPS/src/js/API/shared.js?c={RAND}"></script>
      <script src="/APPS/src/js/API/delete.js?c={RAND}"></script>
      <script src="/APPS/src/js/API/confirm.js?c={RAND}"></script>
      <script src="/APPS/src/js/API/login.js?c={RAND}"></script>
      <script src="/APPS/src/js/API/shared.js?c={RAND}"></script>
      <script src="/APPS/src/js/API/sendTasks.js?c={RAND}"></script>
      <script src="/APPS/src/js/ui/lio_filters.js?c={RAND}"></script>
      <script src="/APPS/src/js/ui/media_popup.js?c={RAND}"></script>
      <script src="/APPS/src/js/ui/weather_anim.js?c={RAND}"></script>
      
</body>    
</html>