<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="public, max-age=500, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{STATION_ID} {DAY} Station Report</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/APPS/dist/css/allskytv.min.css?c=frdddda"/>
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-column flex-md-row"> 
            <a class="navbar-brand clearfix" title="ALLSkyTV">  
                <img id="logo_holder" src="/APPS/dist/img/allskytv.svg" width="200" height="70" alt="ALLSkyTV"/> 
            </a> 
            <ul class="navbar-nav ml-md-auto"></ul>
            <a id="login" class="btn btn-primary d-inline-block mb-3 mb-md-0 ml-md-3">Login</a>
      </nav>
      <h1>{STATION_ID} Station Report for {DAY}</h1>
      <div id="main_container" class="container-fluid h-100 mt-4 lg-l">
            <ul class="nav nav-tabs">
                  {TABS}
            </ul>
            <div class="tab-content p-2" id="myTabContent">
                  {TABS_CONTENT}
            </div>
            <div class="accordion" id="main_content">
                  {LIVE_VIEW}
                  {WEATHER_SNAPSHOTS}
                  {MULTI_METEORS}
                  {SINGLE_METEORS}
                  {PROC_REPORT}
            </div>
      </div> 
 
      <script src="/APPS/dist/js/allskytv.min.js"></script>
      <!--
      <script src="/APPS/src/js/framework/popper.min.js"></script>
      <script src="/APPS/src/js/framework/jquery.min.js"></script>
      <script src="/APPS/src/js/framework/bootstrap.js"></script>
      -->

      <script src="/APPS/src/js/shared/cookie.js"></script>
      <script src="/APPS/src/js/API/shared.js"></script>
      <script src="/APPS/src/js/API/login.js?c=de"></script>
      <script src="/APPS/src/js/API/shared.js"></script>
      
</body>    
</html> 
