<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="public, max-age=500, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Report for event {STATION_ID} Cam#{CAM_ID</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/APPS/dist/css/allskytv.min.css?c={RAND}"/>
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-column flex-md-row"> 
            <a class="navbar-brand clearfix" title="ALLSkyTV">  
                <img id="logo_holder" src="/APPS/dist/img/allskytv.svg" width="200" height="70" alt="ALLSkyTV"/> 
            </a> 
            <ul class="navbar-nav ml-md-auto"></ul>
            <a id="login" class="btn btn-primary d-inline-block mb-3 mb-md-0 ml-md-3">Login</a>
      </nav>
      <h1>Report for event {STATION_ID} Cam#{CAM_ID} - <a href="{LINK_TO_DAILY_REPORT}">{DAY}</a> {TIME}</h1>
      <div id="main_container" class="container-fluid d-flex h-100 mt-4 position-relative">
        

         <div class="h-100 flex-fixed-canvas">
            <div class="position-relative overflow:hidden; width:960px; height:540px;">
                  <div style="position:absolute; top:0; left:0; width:960px; height:540px; z-index:1">
                        {VIDEO}
                  </div>
               <div style="width:960px; height:540px;position:absolute; top:0; left:0;  z-index:99">
                  <canvas id="canvas" width="960" height="540"></canvas>
               </div>
               
            </div>
         </div>
      

         <div class="flex-fixed-r-canvas h-100">
            
            <div class="box">
               <h2>Meteor Info</h2>
               <dl class="row mb-0 def w">
                  {REPORT_DETAILS} 
               </dl>
            </div>

            <div class="box">
                  <div id="media_box" class="pt-2">
                     <div class="d-flex mt-0 mb-0"> 
                        {VIDEO_BTNS}
                        <a id="show_json" class="col btn btn-secondary mt-0 mb-0 ml-1 d-block json_viewer" data_src="{JSON_FILE}"><i class="icon-file-text"></i> JSON Data</a>
                     </div> 
                  </div> 
              </div>

            <div class="mt-2 mb-3 mr-3 ml-3"><div class="btn-holder row mt-1 mb-1">
               <a id="show_json" class="col btn btn-secondary mt-0 mb-0 ml-1 json_viewer" data_src="{JSON_FILE}"><i class="icon-file-text"></i> All Data</a>
            </div></div>
         </div> 
      
      </div>


      <script src="/APPS/dist/js/allskytv.min.js?c={RAND}"></script>  

      <script src="/APPS/src/js/plugins/rainbowvis.js?c={RAND}"></script>
      <script src="/APPS/src/js/plugins/json-viewer.js?c={RAND}"></script>
      <script src="/APPS/src/js/plugins/fabric.js?c={RAND}"></script>

      <script src="/APPS/src/js/ui/loader.js?c={RAND}"></script>
      <script src="/APPS/src/js/ui/media_popup.js?c={RAND}"></script>
      <script src="/APPS/src/js/ui/json_viewer.js?c={RAND}"></script>
      
      <script src="/APPS/src/js/ui/add_stars.js?c={RAND}"></script>
      

      <script>
         // JSON FILE
         var json_data = {JSON_DATA};
          
         var canvasFabric = new fabric.Canvas('canvas', {
            hoverCursor: 'default',
            selection: true,
            width: 960,
            height:540
         }); 
 

         // Update the stars on canvas
         update_stars_on_canvas_and_table(json_data,canvasFabric);

         
      </script>
</body>    
</html> 
