<div class="h1_holder d-flex justify-content-between">
   <h1>Archive for 
      <!--<input value="{DATE}" type="text" data-display-format="YYYY/MM/DD" data-action="reload" data-url-param="limit_day" data-send-format="YYYY_MM_DD" class="datepicker form-control">-->
      <input type="text" name="daterange" value="{START_DATE} - {END_DATE}" class="drpicker form-control"/>
      <input type="hidden" name="start_date" value="{START_DATE}"/>
      <input type="hidden" name="end_date" value="{END_DATE}"/>
   </h1>
   <div class='d-flex'>
         
         <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
               <div class="modal-dialog modal-lg" role="document">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h5 class="modal-title" id="staticBackdropLabel">Filters</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>
                   </div>
                   <div class="modal-body">
                        <div class="row">
                              <div class="col-sm-6 col-md-x">
                                 <div>
                                    <label class="mt-3" for="multi">Multi-station</label>
                                    <select name='multi' id='multi' data-rel='multi' class='btn btn-primary mr-4  col-sm-12'>{MULTI}</select>
                                 </div>
                                 <div>
                                    <label class="mt-3" for="point_score">Point Score</label>
                                    <select name='sync' id='point_score' data-rel='point_score' class='btn btn-primary mr-4 col-sm-12'>{P_SCORE}</select>
                                 </div>
                                 <div>
                                    <label class="mt-3" for="res_er">Resolution Error</label>
                                    <select name='res_er' id='res_er' data-rel='res_er' class='btn btn-primary mr-4  col-sm-12'>{RES_ERRORS}</select>
                                 </div>
                              </div>
                              <div class="col-sm-6 col-md-x">
                                 <div>
                                    <label class="mt-3" for="res_er">Angular Velocity</label>
                                    <select name='ang_v' id='ang_v' data-rel='ang_v' class='btn btn-primary mr-4  col-sm-12'>{ANG_VELOCITIES}</select>
                                 </div>
                                 <div>
                                    <label class="mt-3" for="res_er">Synchronized Videos</label>
                                    <select name='sync' id='sync' data-rel='sync' class='btn btn-primary mr-4  col-sm-12'>{SYNC}</select>
                                 </div>
                                 <div>
                                    <label class="mt-3" for="res_er">Magnitude (intensity)</label>
                                    <select name='mag' id='mag' data-rel='magnitude' class='btn btn-primary mr-4  col-sm-12'>{MAGNITUDES}</select>
                                 </div>
                              </div>
                        </div>
                   </div>
                   <div class="modal-footer">
                     <button id="apply_archive_filters" type="button" class="btn btn-primary">Apply Filters</button>
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   </div>
                 </div>
               </div>
             </div>
         
       
   </div>
   <div class='d-flex'>
      <button type="button" title="Filters" class="btn btn-primary act mr-2" data-toggle="modal" data-target="#staticBackdrop">
         <i class="icon-filters"></i>
      </button>
      <div class='mr-2'><select name='rpp' id='rpp' data-rel='meteor_per_page' class='btn btn-primary'>{RPP}</select></div>
      <div class="dropdown mr-2">
         <button class="btn btn-primary act dropdown-toggle" type="button" id="display_opts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class='icon-cog'></i>
         </button>
         <div class="dropdown-menu dropdown-menu-right" aria-labelledby="display_opts">
           <a data-rel="y" class="chg_arc_opts dropdown-item {VIDEO_PREVIEW_ACTIVE}" href="#">With video preview</a>
           <a data-rel="n" class="chg_arc_opts dropdown-item {NO_VIDEO_PREVIEW_ACTIVE}" href="#">Without video preview (faster)</a> 
         </div> 
      </div>
      <div class='btn-group'><button id='show_gal' class='btn btn-primary act'><i class='icon-list'></i></button></div>
      
       
      
   </div>
</div>

<div id="main_container" class="container-fluid h-100 mt-4 lg-l">
   {FOUND}
   <div class="{LIST_VIEW}">
      <div class='list-onl'>
         <div class='filter-header d-flex flex-row-reverse '> 
            <button id="sel-all-archive" title="Select All" class="btn btn-primary ml-3"><i class="icon-checkbox-checked"></i></button> 
            <button id="del-all-archive" class="del-all-archive btn btn-danger"><i class="icon-delete"></i> Delete <span class="sel-ctn">All</span> Selected</button> 
         </div> 
      </div> 
      {RESULTS} 
   </div>
</div>
   

{PAGINATION}