<div class="h1_holder d-flex justify-content-between">
   <h1>Archive for 
      <!--<input value="{DATE}" type="text" data-display-format="YYYY/MM/DD" data-action="reload" data-url-param="limit_day" data-send-format="YYYY_MM_DD" class="datepicker form-control">-->
      <input type="text" name="daterange" value="{START_DATE} - {END_DATE}" class="drpicker form-control"/>
      <input type="hidden" name="start_date" value="{START_DATE}"/>
      <input type="hidden" name="end_date" value="{END_DATE}/>
   </h1>
   <div class='d-flex'>
      <div class='mr-2'>
         <select name='mag' id='mag' data-rel='magnitude' class='btn btn-primary mr-4'>{MAGNITUDES}</select>
      </div>
      <div class='mr-2'>
         <select name='res_error' id='res_error' data-rel='res_error' class='btn btn-primary mr-4'>{RES_ERRORS}</select>
      </div>
      <div class='mr-2'>
         <select name='ang_vel' id='ang_vel' data-rel='ang_vel' class='btn btn-primary mr-4'>{ANG_VELOCITIES}</select>
      </div>
   </div>
   <div class='d-flex'>
      <div class='mr-2'><select name='rpp' id='rpp' data-rel='meteor_per_page' class='btn btn-primary'>{RPP}</select></div>
      <div class="page_h mr-2">{PAGINATION_DET}</div>
      <div class='btn-group'><button id='show_gal' class='btn btn-primary act'><i class='icon-list'></i></button></div>
   </div>
</div>
{FOUND}
<div id="main_container" class="container-fluid h-100 mt-4 lg-l">
   <div class="gallery gal-resize row text-center text-lg-left">
      <div class='list-onl'>
         <div class='filter-header d-flex flex-row-reverse '> 
            <button id="sel-all-archive" title="Select All" class="btn btn-primary ml-3"><i class="icon-checkbox-checked"></i></button> 
            <button id="del-all-archive" class="del-all-archive btn btn-danger"><i class="icon-delete"></i> Delete <span class="sel-ctn">All</span> Selected</button> 
         </div> 
      </div> 
      {RESULTS} 
   </div>
</div>
   

{PAGINATION}

 