<div class="h1_holder d-flex justify-content-between">
   <h1>Archive until 
      <input value="{DATE}" type="text" data-display-format="YYYY/MM/DD" data-action="reload" data-url-param="limit_day" data-send-format="YYYY_MM_DD" class="datepicker form-control">
   </h1>
   <div class='mr-2 d-flex'>
      <select name='rpp' id='rpp' data-rel='meteor_per_page' class='btn btn-primary mr-4'>{RPP}</select>
      <div class="page_h">{PAGINATION_DET}</div>
   </div>
</div>
<div id="main_container" class="container-fluid h-100 mt-4 lg-l">
   <div class="gallery gal-resize row text-center text-lg-left">{RESULTS}</div>
</div>
   

{PAGINATION}

 