<html>
<title>{STATION_NAME} - {OBSNAME} - AllSky6</title>
{JQ}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
-->
<script src="/videopopup.js"></script>
<script src="/js/fabric.min.js"></script>

<script>
function show_hide_div(myDiv) {
  var x = document.getElementById(myDiv);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
</head>
<!------ Include the above in your HEAD tag ---------->

<body bgcolor="black">
<center>
<div id="ex1" class="modal">
<video autoplay id="v1" loop controls src="">
</video>
</div>
</center>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="webUI.py"> <img class="logo" src="/as6nav.png" height="40"> </a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar1">
<span style="color: white">{STATION_NAME} - {OBS_NAME}, {OP_CITY} {OP_STATE}</span>


    <ul class="navbar-nav ml-auto"> 
{TOP}

<!--
<li class="nav-item active">
<a class="nav-link" href="http://bootstrap-ecommerce.com">Home <span class="sr-only">(current)</span></a>
</li>

<li class="nav-item"><a class="nav-link" href="html-components.html"> Documentation </a></li>
<li class="nav-item dropdown">
	<a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  Dropdown  </a>
    <ul class="dropdown-menu">
	  <li><a class="dropdown-item" href="#"> Menu item 1</a></li>
	  <li><a class="dropdown-item" href="#"> Menu item 2 </a></li>
    </ul>
</li>
<li class="nav-item">
<a class="btn ml-2 btn-warning" href="http://bootstrap-ecommerce.com">Download</a></li>
    </ul>
-->
  </div>

</nav>




<div class="container-fluid" style="background-color: #121212; color: #ffffff">
        <br> 
{BODY}
<BR>
<BR>
<BR>
<BR>
</div>
<!-- .//container -->


<article class="bg-secondary mb-3">  
<div class="card-body text-center">
    <h4 class="text-white">ALLSKY6 - Control Panel<br> </h4>
<p class="h5 text-white"> 
{BOTTOMNAV}
</p>   <br>
<p><a class="btn btn-warning" target="_blank" href="http://www.allskycams.com/">AllSkyCams.com 
 <i class="fa fa-window-restore "></i></a></p>
</div>
<br><br>
</article>
<script id="scan" src="/js/freecal-canvas.js?{RAND}"></script>
<script id="sajax" src="/js/freecal-ajax.js?{RAND}"></script>
<script src="/pycgi/manreduce.js?{RAND}"></script>
{EXTRA_HTML}
</body>
</html>
