<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{STATION_NAME} - {OBS_NAME} - AllSky6 </title>
    <meta content="American Meteor Society Camera Network" name="description">
    <meta content="meteor shower, meteor, fireball, meteorite, video, detection, reduction, asteroid, meteoroid" name="keywords">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="./dist/css/main.css?c=1.2"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    {JQ}

    <script src="./dist/js/amscam.min.js"></script>
    <script src="./src/js/functions/check_login.js"></script> 
</head>
<body class="{AS_TYPE}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
       
    <a class="navbar-brand clearfix" href="/pycgi/webUI.py" title="Home">  
        <iframe id="logo_holder" src="./dist/img/logo.svg" width="70" height="45" style="border:0"></iframe>
        <span class="tx"><span class="m">AMS Video Meteor Program</span><span class="s">{STATION_NAME} - {OBS_NAME}, {OP_CITY} {OP_STATE}</span></span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainN" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainN">
      <ul class="navbar-nav ml-auto"> 
         <li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=home">Daily Detections</a></li>
         <li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=archive_listing">Archive</a></li>
         <li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=browse_minute">Minutes</a></li>
         
         <li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=new_meteors">Meteors</a></li>
         <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="calib_dd" data-toggle="dropdown">Calibration</a>
             <div class="dropdown-menu dropdown-menu-right">
               <a class="dropdown-item" href="/pycgi/webUI.py?cmd=calibration">Past Calibrations</a>
               <a class="dropdown-item" href="/pycgi/webUI.py?cmd=hd_cal_index">Auto Calibrations</a>
               <a class="dropdown-item" href="/pycgi/webUI.py?cmd=meteor_index">Meteor Calibrations</a> 
             </div>
         </li>
         <li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=video_tools">Custom Videos</a></li>
         <li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=live_view">Live</a></li>
         <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="config_dd" data-toggle="dropdown">Config</a>
             <div class="dropdown-menu dropdown-menu-right">
               <a class="dropdown-item" href="/pycgi/webUI.py?cmd=edit_system">System Variables</a>
               <a class="dropdown-item" href="/pycgi/webUI.py?cmd=mask_admin">Mask Admin</a>
               <a class="dropdown-item" href="/pycgi/webUI.py?cmd=manage_alerts">Alerts</a> 
               <a class="dropdown-item" href="/pycgi/webUI.py?cmd=api_services">Cloud Sharing</a> 
               <a class="dropdown-item" href="/pycgi/webUI.py?cmd=custom_logos">Custom Logos</a> 
             </div>
         </li>
         <li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=login">Logout</a></li>
         <!--<li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=config">Config</a></li>-->
     </ul>
    </div>
</nav>
{TOP}
{BODY}
 
<div id="footer">
    &copy; American Meteor Society / AllSkycams.com
</div>

<!--{BOTTOMNAV}-->
{EXTRA_HTML}
<!-- Other scripts (see gulpfile.js > js) -->


<!-- Should be combined and minified -->



<script src="./src/js/plugins/fabric.js"></script>
 
<script src="./src/js/mikes/freecal-ajax.js?c=dez"></script> 
<script src="./src/js/mikes/goto.js"></script>

<script src="./src/js/functions/loader.js"></script>

<script src="./src/js/functions/gallery_or_list.js"></script>
<script src="./src/js/functions/delete_detection_gallery.js"></script>

<script src="./src/js/ui/display_buttons.js"></script>
<script src="./src/js/ui/canvas-interactions.js"></script>
<script src="./src/js/ui/canvas-zoom.js"></script>


<script src="./src/js/ui/blinking_button.js"></script>
<script src="./src/js/ui/frame_anim.js"></script> 
<script src="./src/js/ui/gallery.js"></script> 
<script src="./src/js/ui/lazy_load.js"></script> 

<script src="./src/js/ui/thumb_anim.js"></script> 

<!-- Pagination -->
<script src="./src/js/functions/pagination/per_page.js"></script>

<!-- Videos -->
<script src="./src/js/functions/generate_timelapse.js"></script> 

<!-- Custom Videos -->
<script src="./src/js/functions/generate_timelapse_full.js"></script> 
<script src="./src/js/functions/delete_video.js"></script> 

<!-- Custom Logos -->
<script src="./src/js/functions/upload_logo.js"></script> 

<!-- Add frames -->
<script src="./src/js/functions/add_frames_from_select.js"></script> 
 
<!-- REDUCE TOOL (also for v2.0) -->
<script src="./src/js/functions/reducepage/Radec_Mode.js"></script>

<script src="./src/js/functions/collapse_rows.js"></script>
<script src="./src/js/functions/select_cal_params.js"></script>
<script src="./src/js/functions/delete_frame.js"></script>
<script src="./src/js/functions/select_meteor.js"></script>
<script src="./src/js/functions/media_popup.js"></script>
<script src="./src/js/functions/reject_meteor.js"></script>
<script src="./src/js/functions/update_star_list.js"></script> 
<script src="./src/js/functions/add_frames.js"></script>
<script src="./src/js/functions/reduce_meteor.js"></script> 
<script src="./src/js/functions/update_star_list.js"></script>
<script src="./src/js/functions/update_star_list_and_reduction.js"></script>
<script src="./src/js/functions/update_reduction.js"></script> 
<script src="./src/js/functions/reduction_table_actions.js"></script>


<script src="./src/js/functions/select_meteor_gallery.js"></script>
<script src="./src/js/functions/gallery_missing_images.js"></script>

<script src="./src/js/functions/date_picker.js"></script>
<script src="./src/js/functions/cam_picker.js"></script>

<!-- Free Cal -->
<script src="./src/js/functions/find_stars.js"></script>
<script src="./src/js/functions/make_plate.js"></script>
<script src="./src/js/functions/solve_field.js"></script>
<script src="./src/js/functions/delete_calibration.js"></script>
<!--manred-->
</body>
</html>
 
