<div class="h1_holder d-flex justify-content-between">
      <h1>Minutes for 
         <input value="{END_DATE}" type="text" data-display-format="YYYY/MM/DD" data-action="reload" data-url-param="limit_day" data-send-format="YYYY_MM_DD" class="datepicker form-control"> 
         for Cam(s) #
         <select id="cam_ids" name="cam_ids" multiple data-role="multiselect" data-url-param="cams_ids" class="cam_picker selectpicker">{CAM_IDS}</select>
       

      </h1>
      <!--<div class="d-flex">
            <a class="btn btn-primary mr-3" href="/pycgi/webUI.py?cmd=video_tools" style="text-transform: initial;"><span class="icon-youtube"></span> Generate Timelapse Video</a>
            <button class="btn btn-primary" id="play_anim_thumb" style="text-transform: initial;"><span class="icon-youtube"></span> Preview</button>
      </div>-->
</div>
<div class="text-left" style="max-width:1600px; margin:1rem auto">{RES}</div>