<div id="main_container" class="container-fluid d-flex h-100 mt-4 position-relative"> 
        <div class="h-100 flex-fixed-canvas">
            <div class="canvas-container">
                 <canvas id="c" width="960" height="540"></canvas> 
            </div>
        </div>
        <div class="flex-fixed-r-canvas h-100">
			<div class="canvas_zoom_holder mb-3">
	            <div id="canvas_zoom_target"><img alt="" src="./dist/img/target.svg"/></div>
	            <div id="canvas_pointer_info"></div>
	            <div id="canvas_zoom"></div>
            </div> 

            <div class="box">
                <h2>Detection Info</h2>
                <dl class="row mb-0">
                    <dt class="col-6">Detect. Time</dt>   <dd class="col-6">{%METEOR_DATE%}</dd> 
                </dl>
                <div id="show_grid_holder" class="btn-holder row mt-1" hidden>
					<a id="show_grid" class="col btn btn-secondary mt-0 mb-0"><i class="icon-grid"></i> <span>Show Grid</span></a>
				</div>
	    	</div>

            <div class="box">
                <h2>Calibration</h2>
                <div class="p-3">
                    <a class="btn btn-primary d-block mb-2 auto_detect_stars">Auto. Star Detections</a>
                    <div id="solve_field_info" class="mb-2 " hidden>
                        <span id="star_counter" class="pb-2"></span>
                        <a id="solve_field" class="btn d-block btn-primary"><i class="icon-star_catalog"></i> Solve Field</a>
                    </div>
                </div>
            </div>
        </div>
</div>