<div class='h1_holder  d-flex justify-content-between'>
	<h1>{%METEOR_DATE%} Meteor</h1>
</div>
<div id="main_container" class="container-fluid d-flex h-100 mt-4 position-relative"> 
        <div class="h-100 flex-fixed-canvas">
            <div class="canvas-container">
                 <canvas id="c" width="960" height="540"></canvas> 
            </div>
        </div>
        <div class="flex-fixed-r-canvas h-100">
			<div class="canvas_zoom_holder mb-3">
	            <div id="canvas_zoom_target"><img alt="" src="./dist/img/target.svg"/></div>
	            <div id="canvas_pointer_info"></div>
	            <div id="canvas_zoom"></div>
            </div> 
        </div>
</div>