<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{STATION_NAME} - {OBS_NAME} - AllSky6 </title>
    <meta content="American Meteor Society Camera Network" name="description">
    <meta content="meteor shower, meteor, fireball, meteorite, video, detection, reduction, asteroid, meteoroid" name="keywords">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="./dist/css/main.css"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" /> 

    <script src="./dist/js/amscam.min.js"></script> 
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
       
    <a class="navbar-brand clearfix" href="/pycgi/webUI.py" title="Home">  
        <iframe id="logo_holder" src="./dist/img/logo.svg" width="70" height="45" style="border:0"></iframe>
        <span class="tx"><span class="m">AMS Video Meteor Program</span><span class="s">Login</span></span>
    </a>
 
</nav> 

<div class="container">
    <h1>Login</h1>
</div>
 
<div id="footer">
    &copy; American Meteor Society / AllSkycams.com
</div>
 
</body>
</html>
 