<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{STATION_NAME} - {OBS_NAME} - AllSky6 </title>
    <meta content="American Meteor Society Camera Network" name="description">
    <meta content="meteor shower, meteor, fireball, meteorite, video, detection, reduction, asteroid, meteoroid" name="keywords">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="./dist/css/main.css?v=1.2"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">

    {JQ}

    <script src="./dist/js/amscam.min.js"></script>
    <script src="./src/js/functions/check_login.js"></script> 
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
       
    <a class="navbar-brand clearfix" href="/pycgi/webUI.py" title="Home">  
        <iframe id="logo_holder" src="./dist/img/logo.svg" width="70" height="45" style="border:0"></iframe>
        <span class="tx"><span class="m">AMS Video Meteor Program</span><span class="s">{STATION_NAME} - {OBS_NAME}, {OP_CITY} {OP_STATE}</span></span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainN" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainN">
        <ul class="navbar-nav ml-auto"> 
            <li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=home">Stacks</a></li>
            <!--<li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=browse_minute">Minutes</a></li>-->
            
            <li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=new_meteors">Meteors</a></li>
            <li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=archive_listing">Archive</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="calib_dd" data-toggle="dropdown">Calibration</a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="/pycgi/webUI.py?cmd=calibration">Past Calibrations</a>
<!--
                  <a class="dropdown-item" href="/pycgi/webUI.py?cmd=hd_cal_index">Auto Calibrations</a>
                  <a class="dropdown-item" href="/pycgi/webUI.py?cmd=meteor_index">Meteor Calibrations</a> 
-->
                </div>
            </li>
            <!-- <li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=video_tools">Custom Videos</a></li>-->
            <li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=live_view">Live</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="config_dd" data-toggle="dropdown">Config</a>
                <div class="dropdown-menu dropdown-menu-right">
<!--
                  <a class="dropdown-item" href="/pycgi/webUI.py?cmd=edit_system">System Variables</a>
                  <a class="dropdown-item" href="/pycgi/webUI.py?cmd=manage_alerts">Alerts</a> 
                  <a class="dropdown-item" href="/pycgi/webUI.py?cmd=api_services">Cloud Sharing</a> 
-->
                  <a class="dropdown-item" href="/pycgi/webUI.py?cmd=mask_admin">Mask Admin</a>
                  <a class="dropdown-item" href="/pycgi/webUI.py?cmd=custom_logos">Custom Logos</a> 
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=login">Logout</a></li>
            <!--<li class="nav-item"><a class="nav-link" href="/pycgi/webUI.py?cmd=config">Config</a></li>-->
        </ul>
    </div>
</nav>
{TOP}
{BODY}
 
<div id="footer">
    &copy; American Meteor Society / AllSkycams.com
</div>

<!--{BOTTOMNAV}-->
{EXTRA_HTML}
<!-- Other scripts (see gulpfile.js > js) -->


<!-- Should be combined and minified -->
 
<script src="./src/js/plugins/fabric.js"></script>
 
<script src="./src/js/mikes/freecal-ajax.js"></script> 
<script src="./src/js/mikes/goto.js"></script>

<script src="./src/js/functions/loader.js"></script>


<script src="./src/js/ui/display_buttons.js"></script>
<script src="./src/js/ui/canvas-zoom.js"></script>


<script src="./src/js/ui/blinking_button.js"></script>
<script src="./src/js/ui/gallery.js"></script> 
<script src="./src/js/ui/lazy_load.js"></script> 

<script src="./src/js/ui/thumb_anim.js"></script> 

<!-- Videos -->
<script src="./src/js/functions/generate_timelapse.js"></script> 

<!-- Custom Videos -->
<script src="./src/js/functions/reject_meteor.js"></script> 
<script src="./src/js/functions/generate_timelapse_full.js"></script> 
<script src="./src/js/functions/delete_video.js"></script> 

<!-- Custom Logos -->
<script src="./src/js/functions/upload_logo.js"></script> 

<!-- Media Utils -->
<script src="./src/js/functions/media_popup.js"></script>

<!-- Pagination -->
<script src="./src/js/functions/pagination/per_page.js"></script>

<!-- REDUCE PAGE  2 -->
<script src="./src/js/functions/reducepage/ui/Canvas-Interactions.js"></script>
<script src="./src/js/functions/reducepage/Select_Meteor.js"></script> 
<script src="./src/js/functions/reducepage/Add_Frame_From_Select.js"></script>
<script src="./src/js/functions/reducepage/Delete_Frame.js"></script>
<script src="./src/js/functions/reducepage/Setup_Reduction_Table_Actions.js"></script>
<script src="./src/js/functions/reducepage/Update_Star_List.js"></script>
<script src="./src/js/functions/reducepage/Update_Reduction_Table.js"></script>
<script src="./src/js/functions/reducepage/Update_Stars_And_Reduction.js"></script>
<script src="./src/js/functions/reducepage/Thumb_Anim.js"></script>
<script src="./src/js/functions/reducepage/Radec_Mode.js"></script>
<script src="./src/js/functions/reducepage/Refresh_media.js"></script>
<script src="./src/js/functions/reducepage/Apply_calib.js"></script>
<script src="./src/js/functions/reducepage/HD_fix.js"></script>
<script src="./src/js/functions/reducepage/Manual_Synchronization.js"></script>
<script src="./src/js/functions/reducepage/Star_Picker_Background.js"></script>
<script src="./src/js/functions/reducepage/Reduce_ToolBar.js"></script>
<script src="./src/js/functions/reducepage/Reject_detection.js"></script>
<script src="./src/js/ui/load_iframe_on_tab.js"></script>


<!-- MANUAL REDUCTION PAGES -->
<script src="./src/js/functions/manualreducepage/select_stack.js"></script> 
<script src="./src/js/functions/manualreducepage/position_in_stack_chooser.js"></script> 
<script src="./src/js/functions/manualreducepage/start_frame_chooser.js"></script> 
<script src="./src/js/functions/manualreducepage/position_in_frame_chooser.js"></script> 

<!-- ARCHIVE LISTING PAGE --->
<script src="./src/js/functions/gallery_or_list.js"></script> 

<!-- MINUTES --->
<script src="./src/js/functions/minutes/Stack_Anim.js"></script> 
<script src="./src/js/functions/minutes/Browse_minutes.js"></script> 

<script src="./src/js/functions/daterangepicker/daterangepicker.js"></script>  
<script src="./src/js/functions/daterangepicker/daterangepicker_run.js"></script>  

<script src="./src/js/functions/archive_listing/video_prev_option.js"></script>
<script src="./src/js/functions/archive_listing/criteria.js"></script>  
<script src="./src/js/functions/archive_listing/delete_detection_from_listing.js"></script>  

<script src="./src/js/functions/select_meteor_gallery.js"></script>
<script src="./src/js/functions/gallery_missing_images.js"></script>

<script src="./src/js/functions/date_picker.js"></script>
<script src="./src/js/functions/cam_picker.js"></script>

<!-- Free Cal -->
<script src="./src/js/functions/find_stars.js"></script>
<script src="./src/js/functions/make_plate.js"></script>
<script src="./src/js/functions/solve_field.js"></script>
<script src="./src/js/functions/delete_calibration.js"></script>
<!--manred-->
</body>
</html>
 
