<div id="main_container" class="container-fluid h-100 mt-4 position-relative"> 
   <div id="step0">
      <h1>Select the stack you want to use</h1>
      <div class="row">
         <div class="col-md-6"><h2>SD Stack</h2><a href=""><img src="{SD_STACK}" class="img-fluid"/></a></div> 
         <div class="col-md-6"><h2>HD Stack</h2><a href=""><img src="{HD_STACK}" class="img-fluid"/></a></div>
      </div>
   </div>
</div>

<script>
   var sd_stack      = "{SD_STACK}"; 
   var hd_stack      = "{HD_STACK}"; 
   var hd_video_file = "{HD_VIDEO}";
   var sd_video_file = "{SD_VIDEO}";
   
   // Step #0:
   window.onload = function () {
      select_stack();
   }
</script>