<div id="main_container" class="container-fluid h-100 mt-4 position-relative"> 
   <div id="step2">
      <h1>Manual Synchronization Step 2: Select Similar Frames</h1>
      <div class="box">
         <div class="modal-header p-0" style="border:none!important">
            <div class="alert alert-info mb-3 p-1 pr-1 pl-2">Select the similar SD and HD Frames.</div> 
         </div>
         <div class="d-flex justify-content-start">
            <div>
                  <div class="d-flex flex-wrap" style="max-width: 900px;">
                     <div class="d-flex justify-content-left frame_select_mod"> 
                        <div id="sd_frame_selector" class="cropped_frame_select d-flex justify-content-left">
                           <div>
                              {SD_CROPPED_FRAMES_SELECTOR}
                           </div> 
                        </div>
                     </div>
                  </div> 
                  <div class="d-flex flex-wrap" style="max-width: 900px;">
                     <div class="d-flex justify-content-left frame_select_mod"> 
                        <div id="hd_frame_selector" class="cropped_frame_select d-flex justify-content-left">
                           <div>
                              {HD_CROPPED_FRAMES_SELECTOR}
                           </div> 
                        </div>
                     </div>
                  </div>
            </div> 
            <div id="frame_selector_preview" class="d-flex" style="width: 400px; margin: .4rem 2rem; background-size: contain;  background-repeat: no-repeat;  background-position: 50% 50%; background-color: #000;"></div>
         </div> 

         <div class="d-flex justify-content-end">
               <button id="synchronize" class="btn btn-primary">Synchronize</button>
         </div>
      </div>
   </div>
</div>

<!--<div id="overlay" class="animated"><div class="row h-100 text-center"><div class="col-sm-12 my-auto"><div class="card card-block" style="background:transparent"><iframe style="border:0;margin: 0 auto;" src="./dist/img/anim_logo.svg" width="140" height="90"></iframe><h4>Creating meteor picker</h4></div></div></div></div>
-->

<!-- Form used to POST the frames data -->
<form id="post_form" action="./webUI.py" method="post">
   <input type="hidden" name="frames" />
   <input type="hidden" name="cmd" value="final_synchronized"/>
   <input type="hidden" name="video_file" value="{VIDEO}"/>
   <input type="hidden" name="json" value="{JSON}"/>
</form>

<script>  
   var video_file = "{VIDEO}";
   var x = {X};
   var y = {Y};
   var w = {W};
   var h = {H}; 
   // Third step:
   window.onload = function () {
      //init_pos_choos();
   }
</script>