<div id="main_container" class="container-fluid h-100 mt-4 position-relative"> 
   <div id="step1">
      <h1>Manual Reduction Step 1: Select Meteor Path</h1>
      <input type="hidden" name="x_start"/><input type="hidden" name="y_start"/>
      <input type="hidden" name="x_end"/><input type="hidden" name="y_end"/>
      <input type="hidden" name="xs"/><input type="hidden" name="ys"/>
      <input type="hidden" name="w"/><input type="hidden" name="h"/>
      <div class="box">
         <div class="mb-2">
            <div class="alert alert-info mt-0 mb-4"><span class="icon-question"></span> 
               Select the entire meteor path inside the stack.
               <b>If you don't see the full path of the meteor below, go back to the reduce page and click the "Fix not usable HD" button.</b>
               <div id="res" class="float-right   pt-1"><span class="start"></span><span class="end pl-4" ></span></div>
            </div>
         </div>
         <div id="step1_cont"></div>
      </div>
     
   </div>
</div>

<script>
   var stack = "{STACK}"; 
   var video_file = "{VIDEO}";
   var json = "{JSON}";
   // First step:
   window.onload = function () {
      create_meteor_selector_from_stack(stack);
   }
</script>