<div id="main_container" class="container-fluid h-100 mt-4 position-relative"> 
   <div id="step1">
      <h1>Manual Reduction Step 1</h1>
      <input type="hidden" name="x_start"/><input type="hidden" name="y_start"/>
      <input type="hidden" name="x_end"/><input type="hidden" name="y_end"/>
      <input type="hidden" name="xs"/><input type="hidden" name="ys"/>
      <input type="hidden" name="w"/><input type="hidden" name="h"/>
      <div class="box">
      <div class="modal-header p-0" style="border:none!important">
      <div class="alert alert-info mb-3 p-1 pr-1 pl-2">Select the <b style="color:green">STARTING</b> point and the <b style="color:red">ENDING</b> point of the meteor path.</div>
      <div id="res" class="text-right"><span class="start"></span><span class="end pl-4" ></span></div>
</div>

<script>
   var stack = "{STACK}"; 
   var video_file = "{VIDEO}";
   // First step:
   window.onload = function () {
      create_meteor_selector_from_stack(stack);
   }
</script>