<div id="main_container" class="container-fluid h-100 mt-4 position-relative"> 
   <div id="step2">
      <h1>Manual Synchronization Step 2: Select Similar Frames</h1>
      <div class="box">
         <div class="modal-header p-0" style="border:none!important">
            <div class="alert alert-info mb-3 p-1 pr-1 pl-2">Select the similar SD and HD Frames.</div> 
         </div>
         <div class="d-flex justify-content-start">
            <div>
                  <div class="d-flex flex-wrap" style="max-width: 900px;">
                        <div class="d-flex justify-content-left frame_select_mod"> 
                           <div class="cropped_frame_select d-flex justify-content-left">
                              <div>
                                 {SD_CROPPED_FRAMES_SELECTOR}
                              </div> 
                           </div>
                        </div>
                  </div> 
                  <div class="d-flex flex-wrap" style="max-width: 900px;">
                           <div class="d-flex justify-content-left frame_select_mod"> 
                              <div class="cropped_frame_select d-flex justify-content-left">
                                 <div>
                                    {HD_CROPPED_FRAMES_SELECTOR}
                                 </div> 
                              </div>
                           </div>
                  </div>
            </div>
            <div class="preview d-flex" style="width: 400px; background: red; margin: .4rem 2rem;"></div>
         </div>
           

         <div class="d-flex justify-content-between">
            <button  class="btn btn-primary hidden" style="visibility: hidden;">Create All</button>
            <div class="d-flex justify-content-center text-center">
               <button id="reset_frame" class="btn btn-secondary mr-3" style="visibility: hidden;">Reset</button>
               <button id="skip_frame" class="btn btn-secondary ml-3">Skip</button>
            </div>
            <button id="create_all" class="btn btn-primary">Create All</button>
         </div>
      </div>
   </div>
</div>

<!--<div id="overlay" class="animated"><div class="row h-100 text-center"><div class="col-sm-12 my-auto"><div class="card card-block" style="background:transparent"><iframe style="border:0;margin: 0 auto;" src="./dist/img/anim_logo.svg" width="140" height="90"></iframe><h4>Creating meteor picker</h4></div></div></div></div>
-->

<!-- Form used to POST the frames data -->
<form id="post_form" action="./webUI.py" method="post">
   <input type="hidden" name="frames" />
   <input type="hidden" name="cmd" value="manual_reduction_create_final_json"/>
   <input type="hidden" name="video_file" value="{VIDEO}"/>
   <input type="hidden" name="json" value="{JSON}"/>
</form>

<script>  
   var video_file = "{VIDEO}";
   var x = {X};
   var y = {Y};
   var w = {W};
   var h = {H}; 
   // Third step:
   window.onload = function () {
      //init_pos_choos();
   }
</script>