<div id="main_container" class="container-fluid h-100 mt-4 position-relative"> 
   <div id="step2">
      <h1>Manual Reduction Step 3</h1>
      <div class="box">
         <div class="modal-header p-0" style="border:none!important">
            <div class="alert alert-info mb-3 p-1 pr-1 pl-2">Select the <strong>POSITION</strong> on the meteor on each frame.</div>
         </div>
         <div class="d-flex flex-wrap">
            <div class="d-flex justify-content-left" id="frame_select_mod">
               <div><button id="met-sel-next" title="Next" type="button" class="mfp-arrow mfp-arrow-right mfp-prevent-close"></button></div>
               <div><button id="met-sel-prev" title="Next" type="button" class="mfp-arrow mfp-arrow-left mfp-prevent-close"></button></div>
               <div id="cropped_frame_select" class="d-flex justify-content-left">
                  <div>
                     {CROPPED_FRAMES_SELECTOR}
                  </div>
               </div>
               <div id="cropped_frame_selector">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>  
   var video_file = "{VIDEO}";
   var x = "{X}";
   var y = "{Y}";
   var w = "{W}";
   var h = "{H}";
</script>