<h1>Minutes Details
   <b>{DATE}</b> 
   -
   <b>Cam #{CAM_ID}</b> 
</h1>

<div id="main_container" class="container-fluid d-flex h-100 mt-4 position-relative"> 
   <div class="h-100 flex-fixed-canvas">
      <img src="{STACK}" class="img-fluid" style="width:100%"/>
   </div>
   <div class="flex-fixed-r-canvas h-100">
      <div class="box">
         <h2>Actions</h2>
         <div class="row mt-3 collapse show" id="extra_command" style="">
               <div class="col pl-4 pr-4 "> 
                  <a class="btn btn-primary d-block mt-4" target="_blank" href="/pycgi/webUI.py?cmd=&f={STACK}">Manually Detect Meteor</a> 
                  <a class="btn btn-primary d-block mt-4" target="_blank" href="/pycgi/webUI.py?cmd=&f={STACK}">Tag Detection</a> 
                  
                  <a class="btn btn-primary d-block mt-4" target="_blank" href="/pycgi/webUI.py?cmd=&f={STACK}">Save Video</a> 
                </div>
           </div>
      </div>

   </div>
</div>