<div id="main_container" class="container-fluid d-flex h-100 mt-4 position-relative"> 
        <div class="h-100 flex-fixed-canvas">
          
        
            <div class="canvas-container">
                 <canvas id="c" width="960" height="540"></canvas> 
            </div>
  
            <ul class="nav nav-tabs mt-3">
                <li class="nav-item">
                    <a class="nav-link active" id="reduc-tab-l" data-toggle="tab" href="#reduc-tab" role="tab" aria-controls="reduction" aria-selected="true">Reduction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="lightc-tab-l" data-toggle="tab" href="#lightc-tab" role="tab" aria-controls="lightc" aria-selected="true">Light Curve</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="stars-tab-l" data-toggle="tab" href="#stars-tab" role="tab" aria-controls="stars" aria-selected="false"><span id="str_cnt"></span> Stars</a>
                </li><!--
                <li class="nav-item">
                    <a class="nav-link" id="plots-tab-l" data-toggle="tab" href="#plots-tab" role="tab" aria-controls="plots" aria-selected="false">Plots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="trajectory-tab-l" data-toggle="tab" href="#trajectory-tab" role="tab" aria-controls="trajectory" aria-selected="false">Trajectory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="orbit-tab-l" data-toggle="tab" href="#orbit-tab" role="tab" aria-controls="orbit" aria-selected="false">Orbit</a>
                </li>-->
            </ul>

            <div class="tab-content box " > 

                <div class="tab-pane fade show active pr-3" id="reduc-tab" role="tabpanel" aria-labelledby="reduc-tab-l">
                    {%RED_TABLE%}
                </div>

                <div class="tab-pane fade show pr-3" id="lightc-tab" role="tabpanel" aria-labelledby="lightc-tab-l">
                    {%LIGHT_CURVE%}
                </div>

                <div class="tab-pane fade" id="stars-tab" role="tabpanel" aria-labelledby="stars-tab-l">
                    {%STAR_TABLE%}
                </div> 

                <div class="tab-pane fade" id="plots-tab" role="tabpanel" aria-labelledby="plots-tab-l">
                    {%PLOTS_TABLE%}
                </div> 

                <div class="tab-pane fade" id="trajectory-tab" role="tabpanel" aria-labelledby="trajectory-tab-l">
                    {%TRAJECTOR Y_TABLE%}
                </div> 

                <div class="tab-pane fade" id="orbit-tab" role="tabpanel" aria-labelledby="orbit-tab-l">
                    {%PLOTS_TABLE%}
                </div> 

            </div>
 
        </div>

        <div class="flex-fixed-r-canvas h-100">

            <div class="canvas_zoom_holder mb-3">
                <div id="canvas_zoom_target"><img alt="" src="./dist/img/target.svg"/></div>
                <div id="canvas_pointer_info"></div>
                <div id="canvas_zoom"></div>
            </div> 

            <div class="box">
                <h2>Meteor Info</h2>
                <dl class="row mb-0">
                    <dt class="col-6">Start Time</dt>   <dd class="col-6">{EVENT_START_TIME}</dd>
                    <dt class="col-6">Duration</dt>  	<dd class="col-6" id="dur">{EVENT_DURATION}</dd>
                    <dt class="col-6">Magnitude</dt>    <dd class="col-6">{EVENT_MAGNITUDE}</dd>
                </dl>
                <hr class="w">
                <div class="m-2 ml-5 mr-5">
                    <div class="btn-holder row mt-1 mb-1">
                        <a id="zoom_canvas" class="col btn btn-secondary mt-0 mb-0"><i class="icon-zoom-in"></i> <span>Zoom</span></a>
                        <a id="show_grid" class="col btn btn-secondary mt-0 mb-0"><i class="icon-grid"></i> <span>Show Grid</span></a>
                    </div>
                    <div class="btn-holder row mt-1">
                        <a id="play_anim" class="col btn btn-secondary mt-0 mb-0"><i class="icon-play"></i> <span>Thumbs Anim.</span></a> 
                        <a id="show_json" class="col btn btn-secondary mt-0 mb-0 ml-1 json_viewer" data_src="{METEOR_JSON_FILE}"><i class="icon-file-text"></i> All Data</a>
                    </div>
                </div>
            </div>
            
            
            <div class="box">
                    <h2>Calibration &amp; Reduction</h2>
                    <p class="mb-1">Load a calibration parameters</p>
                    <select id="cal_param_selected" class="custom-select">
                        <option value="{SELECTED_CAL_PARAMS_FILE}">{SELECTED_CAL_PARAMS_FILE_NAME}</option>
                    </select>
                    
                    <div class="row mt-3">
                        <span id="star_counter" class="col-12 pb-2"></span>
                        <div id="reduc_info" class="col">
                            <a id="update_stars" class="btn btn-primary btn-v"><i class="icon-star_catalog"></i> Update Star List</a>
                        </div>
                        <div class="col">
                          <a id="refresh_data" class="btn btn-primary btn-v"><i class="icon-spinner10"></i>Refresh Data</a>
                        </div>
                        <div class="col">
                          <a id="reduce_meteor" class="btn btn-primary btn-v"><i class="icon-reduce_meteor"></i> Reduce Meteor</a>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col pl-4 pr-4 "> 
                              {ARCHIVE_LINK}
                        </div>
                    </div>

                    <div class="row mt-3 ">
                        <div class="col"><a class="btn btn-primary btn-sm mx-auto d-block" data-toggle="collapse" href="#extra_command" role="button" aria-expanded="false" aria-controls="extra_command"><span class="icon-plus"></span> More commands...</a></div>
                    </div>

                    <div class="row mt-3 collapse" id="extra_command">
                        <div class="col pl-4 pr-4 "> 
                           <!-- 
                           <a class="btn btn-primary d-block" href="/pycgi/webUI.py?cmd=manual_reduction&video_file={HD_VIDEO}&hd_stack={HD_STACK}&sd_stack={SD_STACK}&sd_video={SD_VIDEO}&json_file={METEOR_JSON_FILE}"><strong>NEW</strong> Manual Reduction</a>

                            <a class="btn btn-primary d-block mt-2" id="radec_mode">RA/Dec Mode</a>

                            <a class="btn btn-primary d-block mt-2" target=_blank href=/pycgi/webUI.py?cmd=custom_fit&cal_params_file={METEOR_JSON_FILE}>Minimize FOV Parms</a> 
                            <a class="btn btn-primary d-block mt-2" target=_blank href=/pycgi/webUI.py?cmd=reset_reduce&cal_params_file={METEOR_JSON_FILE}>Reset</a> 
                            <a class="btn btn-primary d-block mt-2"  target=_blank href=/pycgi/webUI.py?cmd=clone_cal&file={SD_STACK}>Clone & Save Calibration</a> 
                            <a class="btn btn-primary d-block mt-2"  target=_blank href=/pycgi/webUI.py?cmd=free_cal&input_file={HD_STACK}>Calibrate This Image</a> 
                            <a class="btn btn-primary d-block mt-2"  target=_blank href=webUI.py?cmd=man_reduce&file={SD_STACK}&cal_params_file={CAL_PARAMS_FILE}>Manually Reduce</a>
                            <a class="btn btn-primary d-block mt-2" target=_blank href=/pycgi/webUI.py?cmd=reject_meteor&cal_params_file={METEOR_JSON_FILE}> Delete Selected Stars<br/>and Mark image as cloudy</a> 
-->
                            <a class="btn btn-danger d-block mt-4" target=_blank href="/pycgi/webUI.py?cmd=override_detect&jsid={JSID}"> Reject Meteor</a> 
                         </div>
                    </div>
                   
            </div> 

            <div class="box">
                <h2>Media</h2>
                <div class="d-flex">
                       
                        <div class="flex-fill pr-2">
                            <a style="background:url({SD_STACK})" class="img-link d-block" href="{HD_STACK}">
                                <img alt="" src="./dist/img/img_hd.svg"/>
                            </a>
                        </div>
                        <div class="flex-fill pr-2">
                            <a style="background:url({SD_STACK})" class="img-link d-block" href="{SD_STACK}">
                                <img alt="" src="./dist/img/img_sd.svg"/>
                            </a>
                        </div>
                        <div class="flex-fill pr-2">
                            <a style="background:url({SD_STACK})" class="img-link d-block" href="{HALF_STACK}">
                                <img alt="" src="./dist/img/img_hstack.svg"/>
                            </a>
                        </div>
                        <div class="flex-fill pr-2">
                            <a style="background:url({SD_STACK})" class="vid-link d-block" href="./video_player.html?video={HD_VIDEO}&butt=no">
                                <img alt="" src="./dist/img/vid_hd.svg"/>
                            </a>
                        </div>
                        <div class="flex-fill">
                            <a style="background:url({SD_STACK})" class="vid-link d-block" href="./video_player.html?video={SD_VIDEO}&butt=no">
                                <img alt="" src="./dist/img/vid_sd.svg"/>
                            </a>
                        </div> 
                </div>
            </div> 

            <div class="box">
                <h2>Observations </h2> 
                <dl class="row mb-0">
                     <!--
                    <dd class="col-6">START/END AZ/EL </dd>	                    
                    -->
                    <dt class="col-6"> {MULTI_STATION} </dt>

                </dl>
            </div>

            <div class="box">
                <h2>Solutions</h2> 
                <dl class="row mb-0">
                    <dt class="col-6">AMS1-AMS2-AMS3</dt>
                    <dd class="col-6">Monte Carlo</dd>
                </dl>
            </div>

            <div class="box">
                <h2 class="mb-0"><a data-toggle="collapse" href="#share_box" role="button" class="d-block dropdown-toggle dt-title" aria-expanded="true">Share</a></h2>
                <div class="collapse p-3" id="share_box">
                    <a class="btn btn-primary d-block mb-2">Submit to AMS Video Meteor Archive</a>
                    <p class="mb-1 mt-3"><b>For fireballs only</b></p>
                    <a class="btn btn-primary d-block mb-2">Submit to AMS Fireball Reports</a>
                    <p class="mb-1 mt-3"><b>Social media</b></p>
                    <div class="row">
                        <div class="col"><a class="btn btn-primary btn-v"><i class="icon-facebook"></i> Share on facebook</a></div>
                        <div class="col"><a class="btn btn-primary btn-v"><i class="icon-twitter"></i>Share on Twitter</a></div>
                        <div class="col"><a class="btn btn-primary btn-v"><i class="icon-youtube"></i>Share on Youtube</a></div>
                    </div> 
                </div>
            </div>

        </div>
</div>

<div id="meteor_frame_list"></div> 
<div id="star_list"></div>  
<script>
    var sd_video_file = '{SD_VIDEO}';
    var json_file = '{METEOR_JSON}';
    window.onload = function () {
        update_star_and_reduction('{VIDEO_FILE}');
    }
</script>
