<div id="main_container" class="container-fluid d-flex h-100 mt-4 position-relative"> 
        <div class="h-100 flex-fixed-canvas">
        
        
            <div class="canvas-container">
                 <canvas id="c" width="960" height="540"></canvas> 
            </div>
  
            <ul class="nav nav-tabs mt-3">
                <li class="nav-item">
                    <a class="nav-link active" id="reduc-tab-l" data-toggle="tab" href="#reduc-tab" role="tab" aria-controls="reduction" aria-selected="true">Reduction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="stars-tab-l" data-toggle="tab" href="#stars-tab" role="tab" aria-controls="stars" aria-selected="false"><span id="str_cnt"></span> Stars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="plots-tab-l" data-toggle="tab" href="#plots-tab" role="tab" aria-controls="plots" aria-selected="false">Plots</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="trajectory-tab-l" data-toggle="tab" href="#trajectory-tab" role="tab" aria-controls="trajectory" aria-selected="false">Trajectory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="orbit-tab-l" data-toggle="tab" href="#orbit-tab" role="tab" aria-controls="orbit" aria-selected="false">Orbit</a>
                </li>
            </ul>

            <div class="tab-content box " > 

                <div class="tab-pane fade show active" id="reduc-tab" role="tabpanel" aria-labelledby="reduc-tab-l">
                    {%RED_TABLE%}
                </div>

                <div class="tab-pane fade" id="stars-tab" role="tabpanel" aria-labelledby="stars-tab-l">
                    {%STAR_TABLE%}
                </div> 

                <div class="tab-pane fade" id="plots-tab" role="tabpanel" aria-labelledby="plots-tab-l">
                    {%PLOTS_TABLE%}
                </div> 

                <div class="tab-pane fade" id="trajectory-tab" role="tabpanel" aria-labelledby="trajectory-tab-l">
                    {%TRAJECTOR Y_TABLE%}
                </div> 

                <div class="tab-pane fade" id="orbit-tab" role="tabpanel" aria-labelledby="orbit-tab-l">
                    {%PLOTS_TABLE%}
                </div> 

            </div>
 
        </div>

        <div class="flex-fixed-r-canvas h-100">

                 <div class="canvas_zoom_holder mb-3">
                    <div id="canvas_zoom_target"><img alt="" src="./dist/img/target.svg"/></div>
                    <div id="canvas_pointer_info"></div>
                    <div id="canvas_zoom"></div>
            </div> 

            <div class="box">
                <h2>Meteor Info</h2>
                <dl class="row mb-0">
                    <dt class="col-6">Start Time</dt>   <dd class="col-6">{EVENT_START_TIME}</dd>
                    <dt class="col-6">Duration</dt>  	<dd class="col-6" id="dur">{EVENT_DURATION}</dd>
                    <dt class="col-6">Magnitude</dt>    <dd class="col-6">{EVENT_MAGNITUDE}</dd>
                </dl>
                <div class="btn-holder row mt-1">
			<a id="show_grid" class="col btn btn-secondary mt-0 mb-0"><i class="icon-grid"></i> <span>Show Grid</span></a>
	 		<a id="play_anim" class="col btn btn-secondary mt-0 mb-0"><i class="icon-play"></i> <span>Thumbs Anim.</span></a> 
		</div>
	    </div>
            <div class="box">
                    <h2>Calibration &amp; Reduction</h2>
                    <p class="mb-1">Load a calibration parameters</p>
                    <select id="cal_param_selected" class="custom-select" onchange="javascript:goto('/mnt/ams2/meteors/2019_05_19/2019_05_19_08_26_51_000_010037-trim0378.mp4', this.options[selectedIndex].value ,'reduce')" name="cal_param_file">
                        <option value="/mnt/ams2/cal/freecal/2019_05_13_07_14_40_000_010037/2019_05_13_07_14_40_000_010037-stacked-calparams.json">2019-05-13 07:14:40 (6.050 days diff)</option>
                        <option value="/mnt/ams2/cal/freecal/2019_05_13_07_14_40_000_010037/2019_05_13_07_14_40_000_010037-stacked-calparams.json">2019-05-13 07:14:40 (6.050 days diff)</option>
                    </select>
                    
                    <div class="row mt-3">
                        <span id="star_counter" class="col-12 pb-2"></span>
                        <div id="reduc_info" class="col">
                            <a id="update_stars" class="btn btn-primary btn-v"><i class="icon-star_catalog"></i> Update Star List</a>
                        </div>
                        <div class="col">
                          <a id="refresh_data" class="btn btn-primary btn-v"><i class="icon-spinner10"></i>Refresh Data</a>
                        </div>
                        <div class="col">
                          <a id="reduce_meteor" class="btn btn-primary btn-v"><i class="icon-reduce_meteor"></i> Reduce Meteor</a>
                        </div>
                    </div>
 
                    <!--
                    <a href="javascript:reduce_meteor_ajax('{METEOR_JSON_FILE}','{CAL_PARAMS_FILE}', 'nopick')" ><i class="icon-star_catalog"></i> - Minimize FOV</A> <BR>
                    <a href="javascript:reduce_meteor_ajax('{METEOR_JSON_FILE}','{CAL_PARAMS_FILE}', 'nopick')" ><i class="icon-star_catalog"></i> - Manually Reduce</A> 
                    -->
            </div> 

            <div class="box">
                <h2>Media</h2>
                <div class="d-flex">
                       
                        <div class="flex-fill pr-2">
                            <a style="background:url({SD_STACK})" class="img-link d-block" href="{HD_STACK}">
                                <img alt="" src="./dist/img/img_hd.svg"/>
                            </a>
                        </div>
                        <div class="flex-fill pr-2">
                            <a style="background:url({SD_STACK})" class="img-link d-block" href="{SD_STACK}">
                                <img alt="" src="./dist/img/img_sd.svg"/>
                            </a>
                        </div>
                        <div class="flex-fill pr-2">
                            <a style="background:url({SD_STACK})" class="img-link d-block" href="{HALF_STACK}">
                                <img alt="" src="./dist/img/img_hstack.svg"/>
                            </a>
                        </div>
                        <div class="flex-fill pr-2">
                            <a style="background:url({SD_STACK})" class="vid-link d-block" href="{HD_VIDEO}">
                                <img alt="" src="./dist/img/vid_hd.svg"/>
                            </a>
                        </div>
                        <div class="flex-fill">
                            <a style="background:url({SD_STACK})" class="vid-link d-block" href="{SD_VIDEO}">
                                <img alt="" src="./dist/img/vid_sd.svg"/>
                            </a>
                        </div> 
                </div>
            </div> 

            <div class="box">
                <h2>Observations </h2> 
                <dl class="row mb-0">
                    <dt class="col-6">AMS1-010001</dt>
                    <dd class="col-6">START/END AZ/EL </dd>
                </dl>
            </div>

            <div class="box">
                <h2>Solutions</h2> 
                <dl class="row mb-0">
                    <dt class="col-6">AMS1-AMS2-AMS3</dt>
                    <dd class="col-6">Monte Carlo</dd>
                </dl>
            </div>


        </div>
</div>

<div id="meteor_frame_list"></div> 
<div id="star_list"></div>  
<script>
    window.onload = function () {
        update_star_and_reduction('{VIDEO_FILE}');
    }
</script>
