.to_anim {
   position: absolute;
   width:1750px;
   opacity:0;
   box-shadow: none;
   -webkit-box-shadow:none;
   bottom:0;
   left: 0;
}

#anim_holder {
   width: 1700px;
   height: auto;
   position: relative;
   margin: 0 auto .5rem;
   border: 2px solid #000;
   background: #222;
   min-height: 164px;

   .weath {
      position: absolute;
      top:0;
      left: 0;
      width: 1696px;
   }
} 

#anim_wea_modal {
   .modal-content {
      background: #0f263d;
      color: #fff;
   }

   .modal-footer {
      border-top: 1px solid rgba(255,255,255,.21);
      padding-top: .3rem!important;
   }
}


// Slider

input[type="range"]{
   -webkit-appearance: none;
   width: 160px;
   height: 20px;
   background: -webkit-gradient(linear, left top, right top, from(#2b5179), to(#4480bf));
   background: linear-gradient(to right, #2b5179 0%, #4480bf 100%);
   background-size: 150px 15px;
   background-position: center;
   background-repeat: no-repeat;
   overflow: hidden;
   outline: none; 
   cursor: move;  
   cursor: grab;
   cursor: -moz-grab;
   cursor: -webkit-grab;
 }
 
 input[type="range"]::-webkit-slider-thumb{
   -webkit-appearance:none;
   width:20px;
   height:20px;
   background:#0c3867;
   position:relative;
   z-index:3;
   box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
   border-radius:50%;
 }
 
 input[type="range"]::-webkit-slider-thumb:after{
   content:" ";
   width:160px;
   height:20px;
   position:absolute;
   z-index:1;
   right:20px;
   top:5px;
   background: #0c3867;
   background: linear-gradient(to right, #0c3867 1%, #0f4a88 70%);
 }

 

.arrow {
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 25px 0 25px 25px;
   border-color: transparent transparent transparent #3174ae;

   &.left {
      border-width: 25px 25px 25px 0;
      border-color: transparent #3174ae transparent transparent;
   }
}