.to_anim {
   position: absolute;
   width:1750px;
   opacity:0;
   box-shadow: none;
   -webkit-box-shadow:none;
   bottom:0;
   left: 0;
}

#anim_holder {
   width: 1700px;
   height: auto;
   position: relative;
   margin: 0 auto .5rem;
   border: 2px solid #000;
   background: #222;
   min-height: 155px;

   .weath {
      position: absolute;
      top:0;
      left: 0;
      width: 155px;
   }
} 