.btn-primary {
   background-color: #ffa200;
   color: #fff!important;
   font-weight: 700;
   border-color: transparent;
   text-transform: uppercase;
   letter-spacing: .1rem;
   border:none medium!important;

   &:hover, &:focus {
      background-color: #ff9000;
      color:#fff!important;
   }
}