.prevproc, .report_t { 

   display: flex;
   flex-direction: column!important;
   width: calc(100% / 5 - 5 * 1rem);
   margin:1rem .5rem;
   position: relative;


   &.done {
      color:#999;
      img {
         opacity: 0.5;
      }
   }

   .btn-toolbar {
      justify-content: flex-end!important;
   }

   &.meteor, &.arc {
      a.T {
         border-color: #21c419!important;
         overflow: hidden;
         
   
         &:before {
            content: 'Meteor';
            color: #21c419;
            background:#00ff2d3d;
            
         }
      }
   }

   &.arc {
      a.T {
         &:before {
            content: 'Archived';
         }
      }
   }

   &.multi {
      a.T {
         border-color: #cc0000;
         overflow: hidden;


         &:before {
            content: 'MULTI';
            color: #cc0000;
            background:#f3a5a5;
             
         }
      }
   }

   &.pending {
      a.T {
         border-color: #000;
         overflow: hidden;
         


         &:before {
            content: 'PENDING';
            color: #333;
            background:#ccc;
             
         }
      }
   }

   &.toDel {
      a.T {
         border-color: #ff0000!important;
      }
      &:before {
         content: 'TO DELETE';
         color: #fff;
         background:rgba(204, 0, 0, .5);
         top: 50%!important;
         right: 0!important;
         display: block!important;
         position: absolute;
         width: 100%;
         z-index: 99;
         text-align: center; 
      }
   }


   &.toConf {
      a.T {
         border-color: #00ff2d3d!important;
      }
      &:before {
         content: 'TO CONFIRM';
         color: #fff;
         background: rgba(0, 139, 25, 0.6);
         top: 50%!important;
         right: 0!important;
         display: block!important;
         position: absolute;
         width: 100%;
         z-index: 99;
         text-align: center; 
      }
   }
  
   a.T {
      margin-bottom: .25rem;

      &:before {

         position: absolute;
         top: 1.2rem;
         right: -2.5rem;
         z-index: 9;
         -webkit-transform: rotate(45deg);
         transform: rotate(45deg);
         font-weight: bold;
         width: 150px;
         text-align: center;
         display: none;
      }
   }
      
 
   span {
      display: block;

      a {
         border:none!important;
         color: #fff;
         font-weight: bold;

         &:before {
            content:''!important;
            background:transparent!important;
            color:transparent!important;
         }
      }
   }

   a {
      display: block;
      position: relative;
      border:2px solid transparent;

      img {
         width:100%
      }
   }
 


   a:hover:before {
      display: block;
   }
}


.report_t {
   width: calc(100% - 2rem);
   margin: .5rem 1rem 1rem;
} 


._h4_hold {
    text-align: left;
    width: 100%;
    margin: 0;

    h4 {
      font-size: 1.1rem;
      padding: 0 0 0 .5rem;
      font-weight: bold;
    }
}