 

.meteor_chooser { 
    background-size: contain;
    cursor: crosshair;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background-color:#111;
    background-repeat: no-repeat;
}

#lh, #org_lh {
    position: absolute;
    left: 0;
    top:50%;
    width: 100vw;
    height: 1px;
    background:rgba(255,255,255,.3);
    box-shadow: 0 0 1px rgba(0,0,0,1);
} 

#lv,  #org_lv {
    position: absolute;
    top: 0;
    left:50%;
    width: 1px;
    height: 100vh;
    background:rgba(255,255,255,.3);
    box-shadow: 0 0 1px rgba(0,0,0,1);
}

#org_lh, #org_lv {
    background:rgba(255,255,255,.1);
}

 .done #lh,  .done #lv { 
    background:rgba(255,0,0,.5);
}


.prev-th {
    margin: 0 .2rem .2rem 0;
    border-width:1px;
    width: 66px;
    border-style: solid;
    cursor:pointer;

    &:hover {
        img {
            border-color:rgba(255,255,255,.3)!important;
        }
    }

    &.cur {
        zoom: 1.2;
        margin-top: -.5rem;
        margin-bottom: .8rem;
    }
}


.cross_holder {
    position: absolute;
    z-index: 3;

    .cross {  
        width: 50px;
        height: 50px;
        border-radius: 50%;
        opacity: .5;
        text-align: center;
        color: rgba(255,255,255,.5);
        padding-top: 10px;
    }
}



// Frame numbers on selector
.select_frame_btn {

    position: relative;
    display: block;

    span {
        position: absolute;
        bottom: 4px;
        right: 5px;
        padding: 0 .2rem;
        color: rgba(255,255,255,.6);
        background: rgba(0,0,0,0.5);
        font-size: .7rem;
    } 
}

.ccur {
    span {
        bottom:14px;
    }
}


.select_info {
    font-size: .9rem;
    text-align: right;
    color: rgba(255,255,255,.8);
    line-height: 1.2;
}
 

// Frame Preview Zoom & Selector 
#select_f_tools {
   width: 310px;
   border: 1px solid #333;
   background-color: rgba(16, 38, 74,.5);
   box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px 3px;
}

.drag-h {
    background: rgba(9,27,56,.8);
    cursor:grab;
    height:30px;
    

    small {
        padding: 0 0 .3rem .5rem;
        line-height: 20px;
        margin-top: -.3rem;
        display: block;
        font-size:.95rem;
    }
}

#select_preview {
    border: 1px solid rgba(0,0,0,.2);
}

#selector {
    cursor:grab;

    &.ng {
       cursor: default
    }

    &.pa {
       position: absolute;
    }
}

.drag-h {
   padding-top: 9px!important;
   border-bottom: 1px solid #333; 
}


#transp{
    display: block;
    margin: .5rem auto;
} 

.select_meteor {
    cursor: pointer;

    &.smi {
        border-width: 1px;
        border-style: solid;
    }
 
}



// Multiple Mode
#select_meteor_modal {

    .update_meteor_thumb_pos_list {
        display:none;
    }


    &.multiple-select {

        .modal-dialog {
            max-width: 1350px;
        }

        .modal-body {
            -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important;
            -ms-flex-line-pack: stretch !important;
            align-content: stretch !important;
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
        }

        .select_meteor_holder {
         width: 85%;
         position: relative;
         overflow-x: hidden;
        }

        .update_meteor_thumb_pos_list {
            display:block;
            width: 14%;
            margin-left: 1%;
            background: rgba(0,0,0,0.3); 
            display: flex;
            flex-wrap: wrap;

            .meteor_thumb_pos_list { 
                overflow: auto;
                max-height: 485px;
                font-family: monospace;
                width: 100%;

                p {
                    padding-left: 1rem;
                    margin-bottom: .5rem;
                    margin-left: 1.1rem;

                    &.cur_m_s {
                        margin-left:0;

                        &:before  {
                            content: "\e91f";
                            display: inline-block;
                            font-size: .5rem;
                            font-family: 'icomoon';
                            padding-right: .3rem;
                            color: #39b9c7;
                        }
                    }
                }
            }
        }

        .mt-auto {
            width: 100%;
            text-align: right;
        }

        h5 {
            border-bottom: 1px solid rgba(255,255,255,.3);
            width: 100%;
            padding-bottom: 1rem;
        }

        .update_meteor_thumb_pos_list_ins {
            width: 100%;
            padding: 1rem;
        }
    }

}