.table-dark td, .table-dark th, .table-dark thead th {
   border-color: #1c354b;
   background: #091625;
}

.wi {

   a {
      cursor: pointer;
   }

   img {
   -webkit-box-shadow: 0 2px 5px #000;
    box-shadow: 0 2px 5px #000;
    border-width: 1px;
    border-style: solid;
   }
}