.nav-tabs {
   border:none medium;
   background: #203f5a;
   padding: 0.4rem;
   border-radius: .25rem;

   .nav-link { 
         border: none medium;
         font-weight: bold;
         border-radius: .25rem;
         color:#fff!important;

      &:hover, &:focus {
         background: #355877
      }


      &.active {
         background:#fff;
         color:#495057;
      }

   }

   .nav-item { 
      margin: 0 .3rem 0 0;
   }
}